body {
    color: red;
    background-image: url(./images/spicy.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    height: 100vh;
}
header {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    font-family:cursive;
}
.kittenImages {
    width: 300px;
    height: 300px;
    opacity: 0.7;
}
header > h1 {
    color: rgba(16, 13, 186, 0.641);
    font-weight: 700;
    font-size: 55px;
}
#headerImage {
    border-radius: 50%;
}
.sub-header {
    color: rgba(149, 20, 61, 0.674);
}
li, p {
    color: rgb(0, 220, 59);
    font-size: 18px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 22px;
}
.thingsI {
    display: flex;
    flex-direction: row;
    background-color: rgb(255,255,255,0.35);
    align-items: center;
    justify-content: center;
}